<!-- BEGIN Portlet PORTLET-->
        <div class="row">
            <div class="col-md-6">
                <p>
                    (Hi!)Codevald is a software development tool. It is still bare bones and already generates clean code, as per your style.
                    This is a code generator that will help you generate mundane code layers like the dal and bll, in a blast.
                    <br/>Efficient code has got a pattern or a signature for that matter, and this pattern can put into a template.
                    Your template can be composed of any language (C#,Django,VB,PHP...), you can even write a document from XML.
                    <br>Assumming the business requirements are strongly object oriented, CodeVald will be deemed successful if it aids
                     object oriented analysis and transforms this analysis into functional software modules.
                    <br/>We are talking of creating a prototype for a software application, at the very least.
                    You can now focus your energies on finer details of the system. More time is dedicated to creativity and meeting special business
                    requirements.
                    <br>We are a very small <a href="{% url "codevaldapp:Team" %}">team <i class="fa fa-trophy"></i></a> and would appreciate the
                    contribution of visionary forces to foster the project.
                    <br/>CodeVald runs on Django for python. The converters are detachable python modules.
                    To get started, <a href="https://github.com/aosanya/CodeVald">get the git code!</a>.
                    <br/>Cheers <i class="fa fa-beer"></i>
                </p>
            </div>
            <div class="col-md-6">
                <a class="btn btn-lg btn-info hidden-print" href="{% url "codevaldapp:MySQLToXML" %}" style="width:200px">MySQL to XML</a>
                <br/>
                <br/>
                <a class="btn btn-lg btn-info hidden-print" href="{% url "codevaldapp:GenerateCode" %}"  style="width:200px">Generate Code</a>
            </div>
        </div>
<!-- END Portlet PORTLET-->