<!-- BEGIN Portlet PORTLET-->
        <div class="row">
            <div class="col-md-6">
                <p>
                    The CodeVald project stems from the fact that "even the most chaotic of codes has got a pattern or a signature for that matter".
                    The larger the system grows, the truer this fact.
                    <br/>Assumming the business requirements are strongly object oriented, CodeVald will be deemed successful if it has the tools;
                    to analyse the fundamental objects of a system,
                    to build a template and to spew out code to represent the objects and their relationships.
                    <br/>If we stay true to our ambition, CodeVald will be able to at least prototype an application.
                    Once the mundane task of generating the fundamental building blocks is done,
                    you then get into the process of putting this blocks together so as to represent the business logic and enhance usability.
                    This way, more brain is dedicated to creativity and meeting special business requirements.
                    <br/>CodeVald runs on Django for python. The converters are detachable python modules.
                    <a href="https://github.com/aosanya/CodeVald">Grab this project on git</a>
                    <br>We are a very small <a href="cgi-bin/team.py">team <i class="fa fa-trophy"></i></a> and wish to join forces with interested parties to foster the project. Join the <a href="cgi-bin/team.py">team <i class="fa fa-trophy"></i></a>  and contribute your forces.

                    <br/>Cheers <i class="fa fa-beer"></i>
                </p>
            </div>
            <div class="col-md-6">
                <a class="btn btn-lg btn-info hidden-print" href="{% url "codevaldapp:MySQLToXML" %}" style="width:200px">MySQL to XML</a>
                <br/>
                <br/>
                <a class="btn btn-lg btn-info hidden-print" href="{% url "codevaldapp:XMLToCode" %}"  style="width:200px">XML to Code</a>
            </div>
        </div>
<!-- END Portlet PORTLET-->